[Unit]
Description=Communicating with Petkit W5-family water fountains using Bluetooth Low Energy (BLE)
After=network.target dbus.service

[Service]
ExecStart=/usr/bin/python3 --address BLE_ADDRESS --mqtt --mqtt_broker MQTT_BROKER --mqtt_port MQTT_PORT --mqtt_user MQTT_USER --mqtt_password MQTT_PASSWORD --logging_level INFO
Restart=always

[Install]
WantedBy=multi-user.target